{% extends '@AropixelAdmin/Form/base.html.twig' %}

{% block header_elements %}
    {% set baseroute = app.request.get('_route')|split('_', -1)|join('') %}
    <a href="{{ path(baseroute ~ '_index') }}" class="fa-stack" data-toggle="tooltip" data-placement="bottom" title="Liste">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-list fa-stack-1x fa-inverse"></i>
    </a>
    {% if delete_form is defined and delete_form %}
        {{ form_start(delete_form, {'attr': {'class': 'd-inline-block'}}) }}
        {{ form_widget(delete_form._token) }}
        <button type="button" id="delete_button" class="fa-stack danger" data-toggle="tooltip" data-placement="bottom" title="Supprimer">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-trash fa-stack-1x fa-inverse"></i>
        </button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}

{% block meta_title %}Contacts - Consulter un message{% endblock %}
{% block header_title %}Contacts{% endblock %}
{% block header_breadcrumb %}
    <ul class="breadcrumb breadcrumb-caret position-right">
        <li class="breadcrumb-item"><a href="{{ url('_admin') }}">Accueil</a></li>
        <li class="breadcrumb-item"><a href="{{ url('contact_index') }}">Contacts</a></li>
        <li class="breadcrumb-item">Consulter</li>
        <li class="breadcrumb-item active">{{ contact.nomFrom }}</li>
    </ul>
{% endblock %}



{% block mainPanel %}

    <div class="card">
        <div class="card-header">
            <h6>Destinataire:&nbsp;&nbsp;<span class="text-semibold">{{ contact.nomTo }}</span>&nbsp;&nbsp;<span class="text-size-small">&lt;{{ contact.emailTo }}&gt;</span></h6>
        </div>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><span class="text-semibold">Objet</span></td>
                    <td>{{ contact.objet }}</td>
                </tr>
                <tr>
                    <td><span class="text-semibold">Nom</span></td>
                    <td>{{ contact.nomFrom }}</td>
                </tr>
                <tr>
                    <td><span class="text-semibold">Email</span></td>
                    <td>{{ contact.emailFrom }}</td>
                </tr>
                {% for label,value in contact.informations %}
                    <tr>
                        <td><span class="text-semibold">{{ label }}</span></td>
                        <td>{{ value }}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td>&nbsp;</td>
                    <td>{{ contact.message|length ? contact.message|nl2br : '' }}</td>
                </tr>
            </table>
        </div>

    </div>

{% endblock %}


{% block publishStatus %}

    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.read, {'value': '0', 'label_attr': {'class' : 'radio-inline'}}) }}
            {{ form_row(form.answered, {'value': '0', 'label_attr': {'class' : 'radio-inline'}}) }}
        </div>
    </div>


{% endblock %}
